{% extends 'layout.html' %}

{% block content %}

<main id="main">
    <header>
        <h1>{{date}}</h1>
    </header>

    <div style="clear:both">
        <h2>{{a_movie_dict.title}}</h2>
        <p>{{a_movie_dict.description}}</p>
        <div class="form-wrapper">
            <form action="{{handler_url}}" method="post">
                {{form.movie_title}} <!-- Need to include this hidden field as it tracks the article being commented. -->
                {{form.movie_release_year}}
                {{form.csrf_token}} <!-- Need to include this token - Flask WTForms requires it. -->
                <br>
                <div class ="form-field">{{form.review.label}} </br>{{form.review(size = 100, placeholder="type your review", class="textarea", cols="50", rows="6", wrap="hard")}}
                    {% if form.review.errors %}
                        <ul class="errors">
        	            {% for error in form.review.errors %}
        		            <li>{{error}}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class ="form-field">{{form.rating.label}} </br>{{form.rating(size = 100, placeholder="type your rating", class="textarea", cols="50", rows="6", wrap="hard")}}
                    {% if form.rating.errors %}
                        <ul class="errors">
        	            {% for error in form.rating.errors %}
        		            <li>{{error}}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                {{ form.submit }}
            </form>
        </div>
        <div style="clear:both; padding-top: 50px;">
            {% if a_movie_dict.review_list|length > 0 %}
                <h2> Existing Reviews: </h2>
                {% for a_review in a_movie_dict.review_list %}
                    <p>"{{a_review.review_text}}", rating: {{a_review.rating}} / 10. By: {{a_review.user_name}} ({{a_review.timestamp}})</p>
                {% endfor %}
            {% endif %}
        </div>
    </article>
</main>
{% endblock %}