{% extends 'layout.html' %}

{% block content %}
<main id="main">
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Vivamus in placerat urna, nec porttitor urna.
      In quis dignissim purus, vel sagittis sem. Fusce
      sagittis metus vitae egestas pharetra. Proin elementum,
      magna quis congue tristique, arcu sapien fermentum dolor,
      ut tristique turpis diam in ipsum. Pellentesque habitant morbi
      tristique senectus et netus et malesuada fames ac turpis egestas.
      Etiam non tortor at massa condimentum viverra non in orci. Praesent
      ex metus, convallis vitae libero quis, tristique mattis quam. Cras lobortis
      lectus id erat malesuada placerat. Nam sed nisl eu lorem pharetra sagittis.
      Fusce non magna porta, pulvinar erat sit amet, bibendum sem. Fusce pharetra
      suscipit lacus, et fermentum ex interdum a. Nam convallis urna nec blandit posuere.
      Nulla facilisi. In convallis dolor eu urna placerat rutrum. Maecenas ut tellus dignissim,
      aliquet leo vel, bibendum purus. Nunc suscipit vestibulum justo et laoreet.
  </p>
</main>
{% endblock %}
