<nav id="nav">
    <img id="logo" src="{{ url_for('static', filename='popcorn.png') }}" />

    <h2 id="nav-header">
        {% if 'username' in session %}
            Hello, {{ session['username'] }}
        {% endif %}
    </h2>

    <a class="btn-nav" href="{{ url_for('home_bp.home') }}">Home</a>

    <a class="btn-nav" href="{{ url_for('authentication_bp.register') }}">Register</a>
    <a class="btn-nav" href="{{ url_for('authentication_bp.login') }}">Login</a>
    <a class="btn-nav" href="{{ url_for('authentication_bp.logout') }}">Logout</a>


    <a class="btn-nav" href="{{ url_for('movies_bp.browse') }}">Browse All Movies</a>

    <a class="btn-nav" href="{{ url_for('movies_bp.search_actor_director_genre') }}">Search Movies</a>

    <div id="nav-footer">
        Comp235 - Assignment 3 - Nathan Longhurst
    </div>
</nav>
